.post{
    background-color: white;
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
}
.post .post_header{
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.post .post_header .post_headerleft{
    display: flex;
    align-items: center;
}
.post .post_header .post_profile_details h3{
   font-size: 14px;
   margin:0px;
   margin-left: 10px;
}
.post .post_header .post_profile_details p{
    font-size: 12px;
    margin:0px;
    margin-left: 10px;
 }
 .post_body{
    font-size: 14px;
 }
 .post_foter{
    display: flex;
   
    border-top:1px solid #ccc ;
    padding-top: 10px;
    margin-top: 20px;
 }
 .post_foter .post_foter_option{
    display: flex;
    align-items: center;
    cursor:pointer;
    margin-right: 20px;

 }
 .post_foter .post_foter_option svg{
    margin: 10px;
    color:grey;

 }
